@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    position: relative;
    font-family: 'Tajawal', sans-serif ;
}

   
.helooN{
     font-family: 'Anton', sans-serif !important;
     margin-top: 25px;
     font-size: 50px;
     margin-bottom: 0px !important;
     color: #6C3483;
}

.nece{
    font-size: 40px;
    color: #6C3483;
}

.modal-header{
    font-size: 40px !important;
    color: white !important;
    background-color: #562968 !important;
    width: 100% !important;

}
.bodyModal{
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    border: #D5DBDB solid 1px;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.titProd{
    color: #562968;
    font-size: 30px;
    margin-bottom: 0px !important;
}
.desProd{
    color: #707374;
    font-size: 20px;
}
.preciProd{
    color: black;
    font-size: 25px;
    margin-left: 83% !important;
    font-family: 'Anton', sans-serif !important;
}

.btnClo{
    width: 14% !important;
    margin-left: 75% !important;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
    border-radius: 25px !important;
    background-color: #562968;
    color: white;

}

.barraLugo{
    margin-top: 0% !important;
    height: 30% !important;
    background-color: #6C3483;
}

.tiLugo{
    font-size: 250% !important;
    color: white !important;
    margin-left: 100px !important;
    font-family: 'Anton', sans-serif !important;
}

.titulos{
    color: white;
    margin-top: 30px;
    font-family: 'Anton', sans-serif !important;
}

.divSelect{
    width: 250px !important;
    text-align: center;
    padding: 10px;
}

.divSeleBtn{
    margin-left: 130% !important;
    display: flex;
}

.divBtn{
    width: 200px !important;
    text-align: center;
    padding: 10px;
}
.btnOrdenes{
    border-radius: 25px !important;
    width: 100% !important;
    padding: 10px;
    background-color: #562968;

}
.selectLugo{
    border-radius: 50px !important;
    padding: 10px !important;
    margin-right: 15% !important;
    width: 100% !important;
}


footer {
    background-color: #562968;
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    height: 10%;
    
  }
  .divContenido{
      width: 90%;
      margin-left: 5% !important;
      background-color: white;
  }

  .tarjetas{    
      background-color: white;
  }

  .tarjeta2{
        background-color: #F4D03F;
        margin: 10px 10px;
        border-radius: 15%;
        height: 250px;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
  }

.iconoIM{
      width: 45%;
      height: 50%;
      background-color: white  ;
      border: 1px black solid;
      
}
.icon{
    background-color: white;
    color: #562968;
    font-size: 30px;
    width: 5% ;
    text-align: center;
    position: fixed;
    margin-top: 28px;
    margin-left: 17px;
    

}

.catimg{
    width: 92.5% !important;
    border-radius: 25px 25px 0 0; 
    position: absolute;
    margin-top: 10px;
}

.catBodyModal{
    
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: #D5DBDB solid 1px;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.btnPedir{
    width: 50% !important;
    border-radius: 25px !important;
    margin-left: 50%;
    background-color: #562968;
    color: white;
}

.titEmpresa{
    position: relative;
    padding-top: 198px;
    color: white;
    margin-left: 20px;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.btnCloCat{
    background-color: #562968;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;

}

.pidPro{
    font-size: 40px;
    color: #562968;

}

.pidInputs{
    width: 65% !important;
    border-radius: 10px !important;
}

.btnProce{
    background-color: #562968;
    color: white;
    border-radius: 25px;
}

.pidPrec{
    margin-left: 84%;
}